.search {
    display: flex;
    border: 1px solid var(--color-border-default);
    border-radius: 4px;
    background-color: #fff;
    width: 260px;
    align-items: center;
    position: relative;
}

.input-search {
    border: none;
    background: none;
    height: 36px;
    padding: 9px 12px;
    outline: none;
}

.search:hover {
    border-color: var(--color-primary);
}

.search:focus {
    border-color: var(--color-primary);
}

.search:focus-within {
    border-color: var(--color-primary);
}

.icon-search {
    position: absolute;
    right: 8px;
}
